body {
    margin-top:40px;
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background: rgba(199, 241, 255, 0.5);
}

.badge-info {
    cursor: pointer;
    font-size: large;
    margin: 10px;
}

.control-label {
    font-size: 18px;
}

.or-seperator {
    margin: 1rem;
}

h3 {
    margin-bottom: 20px;
}

#tags{
    padding: 15px;
    display: block;
    margin: 0 auto;
}

.label-info {
    background-color: #5bc0de;
    padding: 3px;
}

.bootstrap-tagsinput {
    width: 100%;
}

textarea {
    resize: vertical;
}

.stepwizard {
    position: relative;
    width: 100%;
}
body {
    padding: 0;
    margin: 0;
}

.clicked {
    background: #33cabb;
}