form#registrationForm,
form#loginForm {
    width: 60%;
    margin: 60px auto;
    background: #efefef;
    padding: 60px 120px 80px 120px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
label {
    display: block;
    position: relative;
    margin: 40px 0px;
}
input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
}

.line-success {
    position: absolute;
    width: 0;
    height: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #8BC34A;
    transition: ease .6s;
}

.line-error {
    position: absolute;
    width: 0;
    height: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #b21f2d;
    transition: ease .6s;
}

input:focus + .line-box .line-success {
    width: 100%;
}

.label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
}

.label-active {
    top: -3em;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
}

button:hover {
    background: #8BC34A;
    color: #ffffff;
}

button[type="submit"] {
    margin-bottom: 15px;
}

.auth-label {
    font-weight: bold;
    font-size: large;
}

.hidden {
    display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #efefef inset;
}