.header {
    position: relative;
    width: 100vw;
    height: 600px;
}
.header .center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform:translate(-50%,-50%);
    z-index: 5;
    padding: 1rem;
}
.header .left {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform:translate(-50%,-50%);
    z-index: 5;
    padding: 1rem;
}
.header .right {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform:translate(-50%,-50%);
    z-index: 5;
    padding: 1rem;
}
.header .scroll {
    position: absolute;
    top: 95%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: #fff;
    font-size: 1.5rem;
}

.header .caption .title {
    margin-bottom: 1.5rem;
}
.header .caption .text {
    margin-bottom: 1.5rem;
}
.header .caption .action {
    margin-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 15px;
}